<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zinidata.common.mapper.ComAdminMapper">

    <insert id="setMember" parameterType="com.zinidata.common.vo.ComLoginVO">
        insert into tb_member(mem_no, login_id, pwd, mem_stat, mem_nm,vno, mobile_no, email_addr, mem_type, sms_yn ,email_yn ,alarm_yn ,subs_dt ,start_dt
                        ,end_dt,temp_pwd_yn,interest_areacd1,interest_areacd2,interest_areacd3,interest_upjong1,interest_upjong2,interest_upjong3
                        ,crt_dt,crt_id,joinsite_corp_cd,svc_yn)
            values(nextval('tb_member_seq'), #{loginId},#{pwd}, #{memStat}, #{memNm}, #{vno}, #{mobileNo}, #{emailAddr}, #{memType}, #{smsYn}, #{emailYn}, #{alarmYn}, to_char(now(),'yyyymmdd'), to_char(now(),'yyyymmddHH24MMDD')
                    , '99991231','N',  #{interestAreacd1}, #{interestAreacd2}, #{interestAreacd3}, #{interestUpjong1}, #{interestUpjong2}, #{interestUpjong3}
                    , now(), #{loginId}, #{joinsiteCorpCd}, 'N')
    </insert>

    <select id="getMember" resultType="com.zinidata.common.vo.ComLoginVO">
        select vno as ssn
             , FN_GETADMINM(interest_areacd1) AS interest_areacd1_str
             , FN_GETADMINM(interest_areacd2) AS interest_areacd2_str
             , FN_GETADMINM(interest_areacd3) AS interest_areacd3_str
             , FN_GETUPJONG(a.interest_upjong1) AS interest_upjong1_str
             , FN_GETUPJONG(a.interest_upjong2) AS interest_upjong2_str
             , FN_GETUPJONG(a.interest_upjong3) AS interest_upjong3_str
             , a.*
             , b.res_flag_yn
             , b.req_auth_cd
             , b.cj_code as code
             , b.res_auth_cd
        from TB_MEMBER a, cj_member b
        where end_dt = '99991231'
          and mem_stat = '2'
          and login_id = #{loginId}
          and pwd = #{pwd}
          and b.cj_code = 'DAE1'
          and a.mem_no = b.mem_no
    </select>

    <update id="setSession">
        update tb_member
        set login_session = #{loginSession}
          , login_timestemp = coalesce(#{loginTimestemp}, null)
        where end_dt = '99991231'
          and login_id = #{loginId}
          and pwd = #{pwd}
    </update>

    <select id="getLogAuthSeq" resultType="integer">
        select nextval('tb_log_auth_seq') as logAuthNo
    </select>

    <insert id="setLogAuthSeq" >
        insert into tb_log_auth(log_auth_no, mem_no, session_id, login_dt, ip_addr)
        values (#{loginAutnSeq}, #{memNo}, #{loginSession}, now(), #{ipAddr})
    </insert>

    <select id="getArea" resultType="com.zinidata.common.vo.ComAreaVO">
        <if test="megaCd == null and ctyCd == null">
            select mega_cd
                , mega_nm
                , mega_cd as cd
                , mega_nm as nm
            from tbshp_mega
            order by mega_cd
        </if>
        <if test="megaCd != null and ctyCd == null">
            select a.mega_cd
                , a.cty_cd
                , a.cty_nm
                , a.reg_date
                , a.cty_cd as cd
                , a.cty_nm as nm
            from tbadm_cty a
            where a.scss_date is null
            and a.mega_cd=#{megaCd}
        </if>
        <if test="megaCd != null and ctyCd !=null">
            select c.admi_cd
            , c.admi_nm
            , c.cty_cd
            , c.reg_date
            , c.admi_cd as cd
            , c.admi_nm as nm
            from tbadm_cty a, tbadm_admi c
            where a.scss_date is null
            and a.cty_cd = c.cty_cd
            and a.mega_cd=#{megaCd}
            and c.cty_cd =#{ctyCd}
        </if>
    </select>

    <select id="getUpjong" resultType="com.zinidata.common.vo.ComUpjongVO">
        <if test='gubun == "upjong1"'>
            select *
            from tb_upjong1
        </if>

        <if test='gubun == "upjong2"'>
            select *
            from tb_upjong2
            where upjong1_cd = #{upjong1Cd}
        </if>

        <if test='gubun == "upjong3"'>
            select *
            from tb_upjong3
            where upjong2_cd like concat(#{upjong1Cd}, '%')
        </if>

    </select>

</mapper>