<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zinidata.bizmap.mapper.BizAnalysisMapper">


    <select id="getMegaFeatures" resultType="com.zinidata.bizmap.vo.output.BizAnalysisOutVO">
        select *, ST_AsGeoJSON(geom)::jsonb as geometry
        from tbshp_mega_features
        where 1=1
        <if test='xAxis != null and xAxis != "0.0"'>
        and ST_Intersects(geom, ST_MakePoint(#{xAxis}, #{yAxis})) = 'TRUE'
        </if>
    </select>

    <select id="getCtyFeatures" resultType="com.zinidata.bizmap.vo.output.BizAnalysisOutVO">
        select *, ST_AsGeoJSON(geom)::jsonb as geometry
        from tbshp_cty_features
        where 1=1
        <if test='xAxis != null and xAxis != "0.0"'>
        and ST_Intersects(geom, ST_SETSRID(ST_MakePoint(#{xAxis}, #{yAxis}), 4326)) = 'TRUE'
        </if>
    </select>

    <sql id="tmp_table">
        with tmp_table as (
            select c.mega_cd, c.mega_nm, a.cty_cd, b.cty_nm
                 , a.admi_cd as id
                 , a.admi_cd
                 , a.admi_nm
                 , a.minx
                 , a.miny
                 , a.maxx
                 , a.maxy
                 , a.centerx
                 , a.centery
                 , a.geom
                 , a.feature
            from tbshp_admi_features a
            left join tbadm_cty b on a.cty_cd = b.cty_cd
            left join tbshp_mega c on b.mega_cd = c.mega_cd
        )
    </sql>
    <select id="getAdmiFeatures" resultType="com.zinidata.bizmap.vo.output.BizAnalysisOutVO">
        <include refid="tmp_table"/>
        select a1.*
            , a1.admi_cd as id
            , ST_AsGeoJSON(a1.geom)::jsonb as geometry
            , (select coalesce(sum(store_cnt), 0) as store_cnt
                from tbss_sum_sales_v2 a
                , tbshp_block_new b
                where a.block_cd_v2= b.blk_cd
                and b.admi_cd like concat(a1.admi_cd,'%')
                <if test='upjongCd != null'>
                and a.upjong3_cd like concat(#{upjongCd},'%')
                </if>
                ) as store_cnt
        from tmp_table a1
        where 1=1
        <if test='xAxis != null and xAxis != "0.0"'>
        and ST_Intersects(geom, ST_SETSRID(ST_MakePoint(#{xAxis}, #{yAxis}),4326)) = 'TRUE'
        </if>
        <if test='admiCd != null and upjongCd != null'>
        and a1.admi_cd = #{admiCd}
        </if>
    </select>

    <select id="setReportAnalNo" resultType="integer">
        select nextval('tb_usage_zone_sql') as anal_no
    </select>

    <select id="getFreeReport" parameterType="com.zinidata.bizmap.vo.BizAnalysisVO" resultType="com.zinidata.bizmap.vo.output.BizFreeReportOutVO">
        select *
        from tb_bizmap_report
        where upjong_cd = #{upjongCd}
        and (admi_cd = #{admiCd} or block_cd = #{blockCd})
    </select>

    <insert id="setFreeReport">
        insert into tb_bizmap_report (admi_cd,block_cd,upjong_cd,json_data,crt_no,crt_dt,cnt)
        values (#{admiCd},#{blockCd},#{upjongCd},#{jsonData},#{memNo},now(),1)
    </insert>

    <update id="setFreeReportCnt">
        update tb_bizmap_report
        set cnt = cnt+1
        where upjong_cd = #{upjongCd}
          and (admi_cd = #{admiCd} or block_cd = #{blockCd})
    </update>

</mapper>