<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zinidata.bizmap.mapper.BizMainMapper">

    <select id="getCertCnt" resultType="integer">
        select count(*) as cnt
        from tb_cellphone_cert
        where to_char(crt_dt, 'yyyymmddhh24') between to_char(now() - interval'60 minute','yyyymmddhh24') and to_char(now(), 'yyyymmddhh24')
        and ip_addr = #{ipAddr}
    </select>

    <select id="getCertSeqNo" resultType="com.zinidata.bizmap.vo.BizCertVO">
        select nextval('em_tran_pr') as seqNo
    </select>

    <insert id="setCert">
        insert into em_tran (tran_pr, tran_phone, tran_callback, tran_status, tran_date, tran_msg, tran_type)
        values(#{seqNo}, #{mobileNo}, #{tranCallback}, '1', now(), #{tranMsg}, 4)
    </insert>

    <insert id="setCellPhoneCert">
        insert into tb_cellphone_cert (seq, name, mobile_no, cert_no, ip_addr)
        values(#{seqNo}, #{memNm}, #{mobileNo}, #{randomStr}, #{ipAddr})
    </insert>

    <update id="setCertCrtDateUpdate">
        update tb_cellphone_cert
        set cert_dt = now()
        where seq = #{seqNo}
    </update>

    <select id="getCertInfo" resultType="com.zinidata.bizmap.vo.BizCertVO">
        select name as nameNm
            , mobile_no
            , cert_no
        from tb_cellphone_cert
        where seq = #{seqNo}
    </select>

    <select id="getSubscribe" resultType="integer">
        select count(*) as cnt
        from tb_subscribe_info
        where mobile_no =#{mobileNo} and mem_nm=#{memNm}
    </select>

    <insert id="setSubscribeIns">
        insert into tb_subscribe_info
            (mobile_no,mem_nm,mem_type,interest_areacd,interest_upjong,personal_info,marketing_info)
        values (#{mobileNo},#{memNm},#{memType},#{interestAreacd},#{interestUpjong},#{personalInfo},#{marketingInfo})
    </insert>

    <update id="setSubscribeUpd">
        update tb_subscribe_info
        set mem_type = #{memType}
        , interest_areacd = #{interestAreacd}
        , interest_upjong = #{interestUpjong}
        , update_date = now()
        , personal_info = #{personalInfo}
        , marketing_info = #{marketingInfo}
    </update>
</mapper>