<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zinidata.bizmap.mapper.BizYouTubeMapper">


    <select id="getArea" resultType="com.zinidata.bizmap.vo.BizYouTubeVO">
        select distinct mega_cd, mega_nm
        from (select st_setsrid(st_point(centerx::numeric , centery::numeric ), 4326) as geom
              from tb_contents_youtube) a
           , tbshp_mega_features b
        where ST_Intersects(b.geom, a.geom) = 'TRUE'
    </select>

    <select id="getYouTube" resultType="com.zinidata.bizmap.vo.BizYouTubeVO">
        select a.*
            , max(a.centery) over() as maxy
            , max(a.centerx) over() as maxx
            , min(a.centery) over() as miny
            , min(a.centerx) over() as minx
        from tb_contents_youtube a
        where 1=1
        <if test='youtubeNo != null and youtubeNo != "0.0"'>
            and youtube_no = #{youtubeNo}
        </if>
        -- 지역선택
        <if test='filter1 != null and filter1 != "0"'>
            and admi_cd like concat(#{filter1}, '%')
        </if>
        <if test='filter2 == "1"'>
            and admi_cd != '0'
        </if>
        <if test='filter2 == "2"'>
            and admi_cd = '0'
        </if>
        -- 정렬기준
        <if test='filter3 == "0"'>
            order by mod_dt desc
        </if>
        <if test='filter3 == "1"'>
            order by view_cnt desc
        </if>
    </select>


</mapper>